## LIST
### Basic theory

In [1]:
Participants = ['John', 'Leila', 'Gregory', 'Cate']
Participants

['John', 'Leila', 'Gregory', 'Cate']

In [2]:
print (Participants[1])

Leila

In [3]:
Participants[-1]

'Cate'

In [4]:
Participants[-2]

'Gregory'

In [5]:
Participants[3]='Maria'
Participants

['John', 'Leila', 'Gregory', 'Maria']

In [6]:
del Participants[2]
Participants

['John', 'Leila', 'Maria']

In [7]:
Participants[2]

'Maria'

### List Method

In [8]:
Participants = ['John', 'Leila', 'Gregory', 'Cate']
Participants

['John', 'Leila', 'Gregory', 'Cate']

In [9]:
print (Participants[1])

Leila

In [10]:
Participants[-1]

'Cate'

In [11]:
Participants[-2]

'Gregory'

In [12]:
Participants[3]='Maria'
Participants

['John', 'Leila', 'Gregory', 'Maria']

In [13]:
del Participants[2]
Participants

['John', 'Leila', 'Maria']

In [14]:
Participants[2]

'Maria'

In [15]:
Participants.append("Dwayne")
Participants

['John', 'Leila', 'Maria', 'Dwayne']

In [16]:
Participants.extend(['George', 'Catherine'])
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [17]:
print ('The first participant is ' + Participants[0] + '.')

The first participant is John.

In [18]:
len('Dolphin')

7

In [19]:
len(Participants)

6

### List Slicing

In [20]:
Participants = ['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [21]:
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [22]:
Participants[1:3]

['Leila', 'Maria']

In [23]:
Participants[:2]

['John', 'Leila']

In [24]:
Participants[4:]

['George', 'Catherine']

In [25]:
Participants[-2:]

['George', 'Catherine']

********

In [26]:
Maria_ind = Participants.index("Maria")
Maria_ind

2

*********

In [27]:
Newcomers = ['Joshua', 'Brittany']
Newcomers

['Joshua', 'Brittany']

In [28]:
Bigger_List = [Participants, Newcomers]
Bigger_List

[['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine'],
 ['Joshua', 'Brittany']]

In [29]:
Participants.sort()
Participants

['Catherine', 'Dwayne', 'George', 'John', 'Leila', 'Maria']

In [30]:
Participants.sort(reverse=True)
Participants

['Maria', 'Leila', 'John', 'George', 'Dwayne', 'Catherine']

In [31]:
Numbers = [1,2,3,4,5]
Numbers.sort()
Numbers

[1, 2, 3, 4, 5]

In [32]:
Numbers.sort(reverse = True)
Numbers

[5, 4, 3, 2, 1]

## TUPLES
### Theory

In [40]:
x = (40, 41, 42)
x

(40, 41, 42)

In [41]:
y = 50, 51, 52
y

(50, 51, 52)

In [42]:
a,b,c = 1,4,6
c

6

In [43]:
x[0]

40

In [44]:
List = [x, y]
List

[(40, 41, 42), (50, 51, 52)]

In [45]:
(age, years_of_school) = "30,17".split(',')
print (age)
print (years_of_school)

30
17

In [46]:
def square_info(x):
    A = x ** 2
    P = 4 * x
    print ("Area and Perimeter:") 
    return A,P

square_info(3)

Area and Perimeter:

(9, 12)

### Tuples Exercise

Create a tuple, called "Cars", with elements "BMW", "Dodge", and "Ford".

In [47]:
Cars = ("BMW", "Dodge", "Ford")
Cars

('BMW', 'Dodge', 'Ford')

Access the second element of this tuple.

In [48]:
Cars[1]

'Dodge'

Call a method that would allow you to extract the provided name and age separately. Then print the "name" and "age" values to see if you worked correctly.

In [ ]:
name, age = 'Peter,24'

In [50]:
def extract_string(str):
    name, age = str.split(",")
    print("Name: ", name)
    print("Age: ", age)
    return name, age
extract_string('Peter,24')

Name:  Peter
Age:  24

('Peter', '24')

Create a function that takes as arguments the two values of a rectangle and then returns the Area and the Perimeter of the rectangle.
Call the function with arguments 2 and 10 to verify it worked correctly.

In [51]:
def rectangle_inf(a, b):
    area = a*b
    perimeter = (a+b)*2
    print("Area :", area)
    print("Perimeter: ", perimeter)
    return area, perimeter
rectangle_inf(2, 10)

Area : 20
Perimeter:  24

(20, 24)

## DICTIONARIES
### Theory

In [52]:
dict = {'k1': "cat", 'k2': "dog", 'k3': "mouse", 'k4': "fish"}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [53]:
dict['k1']

'cat'

In [54]:
dict["k3"]

'mouse'

In [55]:
dict['k5'] = 'parrot'
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [56]:
dict['k2'] = 'squirrel'
dict

{'k1': 'cat', 'k2': 'squirrel', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

******

In [57]:
dep_workers = {'dep_1': 'Peter', 'dep_2': ['Jennifer', 'Michael', 'Tommy']}

In [58]:
dep_workers['dep_2']

['Jennifer', 'Michael', 'Tommy']

******

In [59]:
Team = {}
Team['Point Guard'] = 'Dirk'
Team['Shooting Guard'] = 'Al'
Team['Small Forward'] = 'Sean'
Team['Power Forward'] = 'Alexander'
Team['Center'] = 'Hector'

In [60]:
print (Team)

{'Point Guard': 'Dirk', 'Shooting Guard': 'Al', 'Small Forward': 'Sean', 'Power Forward': 'Alexander', 'Center': 'Hector'}

In [61]:
print (Team['Center'])

Hector

In [62]:
print (Team.get('Small Forward'))

Sean

In [63]:
print (Team.get('Coach'))

None

### Dictionaries Exercise

## Dictionaries

*Suggested Answers follow (usually there are multiple ways to solve a problem in Python).*

This is the menu of a close-by restaurant:

In [73]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}

What is the second meal in the list?

In [74]:
Menu['meal_2']

'Fries'

Add a new meal - "Soup".

In [75]:
Menu['meal_5'] = "Soup"
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Hamburger',
 'meal_4': 'Lasagna',
 'meal_5': 'Soup'}

Replace the Hamburger with a Cheeseburger.

In [80]:
Menu['meal_3'] = 'Cheesburger'
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Cheesburger',
 'meal_4': 'Lasagna',
 'meal_5': 'Soup'}

Attach the Desserts list in the form of a sixth meal.

In [83]:
Dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']

In [87]:
Menu['meal_6'] = Dessert
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Cheesburger',
 'meal_4': 'Lasagna',
 'meal_5': 'Soup',
 'meal_6': ['Pancakes', 'Ice-cream', 'Tiramisu']}

Create a new dictionary that contains the first five meals as keys and assign the following five values as prices (in dollars):
10, 5, 8, 12, 5. 
Start by *Price_list = {}*.

In [88]:
Price_list = {}
Price_list[Menu['meal_1']] = 10
Price_list[Menu['meal_2']] = 5
Price_list[Menu['meal_3']] = 8
Price_list[Menu['meal_4']] = 12
Price_list[Menu['meal_5']] = 5
Price_list

{'Spaghetti': 10, 'Fries': 5, 'Cheesburger': 8, 'Lasagna': 12, 'Soup': 5}

Use the *.get()* method to check the price of the Spaghetti.

In [89]:
Price_list.get('Spaghetti')

10

## List with the Range

In [90]:
range(10)

range(0, 10)

In [91]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
range(3,7)

range(3, 7)

In [93]:
list(range(3,7))

[3, 4, 5, 6]

In [94]:
range(1,20,2)

range(1, 20, 2)

In [95]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### ITERATE over DICTIONARIES

In [96]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 0
    }

money_spent = 0

for i in prices:
    money_spent = money_spent + (prices[i]*quantity[i])
    
print (money_spent)

74

# Advanced Python Tools
## Object Oriented Programming