## Arithmetic operators

Combine 15 and 23.

In [1]:
15+33

48

Subtract 50 from 26.

In [3]:
26 - 50

-24

Divide 20 by 4.

In [5]:
20 / 4

5.0

Divide 22 by 4.

In [10]:
22 / 4

5.5

Obtain the remainder of the division of 22 by 4.

In [11]:
22%4

2

Divide the float 22 by 4.

In [12]:
float(22/4)

5.5

Multiply 6 by 8.

In [13]:
6*8

48

Raise 15 to the power of 2.

In [14]:
15**2

225